[Unit]
Description=Example .NET Web API App running on Ubuntu

[Service]
User={{ app.user }}
WorkingDirectory={{ app.installation_path }}/publish
ExecStart=/usr/bin/dotnet {{ app.executable }}

# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
Restart=always

KillSignal=SIGINT
SyslogIdentifier=dotnet-netcoreapp

[Install]
WantedBy=multi-user.target
